#signin {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 30%;
        }

        form {
            padding: 1rem;

            input {
                background-color: var(--input-background);
                color: var(--gray-900);
            }

            a {
                text-decoration: none;
            }

            p {
                color: var(--gray-600);
            }

            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                position: relative;
                padding: 8px;
                background-color: var(--input-background);
                border: 1px solid var(--gray-600);
                border-radius: 0 !important;
            }

            input[type="checkbox"]::before {
                content: "\2713";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 8%;
                font-size: 20px;
                line-height: 0;
                color: transparent;
            }

            input[type="checkbox"]:checked::before {
                color: var(--theme);
            }


            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "button" "forgot";

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-remember {
                    grid-area: remember;
                    padding: 1rem 0;
                    color: var(--gray-600);
                }

                #form-button {
                    grid-area: button;
                }

                #form-forgot-password {
                    width: 100%;
                    grid-area: forgot;
                    margin: 1rem 0 0 0;
                    text-align: center;
                }
            }
        }
    }
}
