#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        form {
            padding: 1rem;

            input {
                background-color: var(--input-background);
                color: var(--gray-900);
            }

            a {
                text-decoration: none;
            }

            p {
                color: var(--gray-600);
            }

            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                position: relative;
                padding: 8px;
                background-color: var(--input-background);
                border: 1px solid var(--gray-600);
                border-radius: 0 !important;
            }

            input[type="checkbox"]::before {
                content: "\2713";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 8%;
                font-size: 20px;
                line-height: 0;
                color: transparent;
            }

            input[type="checkbox"]:checked::before {
                color: var(--theme);
            }

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "firstname" "lastname" "email" "password" "confirm" "terms" "button";

                @include md {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                        "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button";
                }

                #form-firstname {
                    grid-area: firstname;
                }

                #form-lastname {
                    grid-area: lastname;
                }

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-confirm {
                    grid-area: confirm;
                }

                #form-terms {
                    grid-area: terms;
                    padding: 1rem 0;
                }

                #form-submit {
                    grid-area: button;
                }
            }
        }
    }
}
