<section id="showcase">
	<img class="background-image" src="images/background-image.svg" alt="Task Management Assistant" />
	<div class="container">
		<div class="content">
				<h1>Task Management Assistant You Gonna Love</h1>
				<p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
				<a class="btn-theme-s" asp-controller="Downloads" asp-action="Index">Get started for free</a>
				<h6>Largest companies use our tool to work efficiently</h6>
				<div class="brands">
					<img src="images/brand-1.svg" alt="Brand Name 1" />
					<img src="images/brand-2.svg" alt="Brand Name 2" />
					<img src="images/brand-3.svg" alt="Brand Name 3" />
					<img src="images/brand-4.svg" alt="Brand Name 4" />
			</div>
		</div>
	</div>
</section>



<section>
	<div id="features">
		<div class="container">

			<h1>What Do You Get with Our Tool?</h1>
			<p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
			<div class="tool-features">
				<div class="box box-bottom">
					<img src="~/images/chat.svg" alt="">
					<h5>Comments on Tasks</h5>
					<p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
				</div>
				<div class="box box-border box-2">
					<img src="~/images/analytics.svg" alt="">
					<h5>Tasks Analytics</h5>
					<p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
				</div>
				<div class="box box-bottom">
					<img src="~/images/users.svg" alt="">
					<h5>Multiple Assignees</h5>
					<p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
				</div>
				<div class="box">
					<img src="~/images/bell.svg" alt="">
					<h5>Notifications</h5>
					<p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
				</div>
				<div class="box box-border box-5">
					<img src="~/images/list.svg" alt="">
					<h5>Sections & Subtasks</h5>
					<p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
				</div>
				<div class="box">
					<img src="~/images/security.svg" alt="">
					<h5>Data Security</h5>
					<p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
				</div>
			</div>
		</div>
	</div>

</section>



<section>
	<div class="light-background">
	<div class="light-mode container">
		<h1 class="light-text">Switch Between<span class="dark-text">Light & Dark Mode</span></h1>

		<img src="~/images/mockup.svg" alt="MacBook pro dark themed"/>

	</div>
	</div>
</section>


<section class="container">
	<div class="dashboard">
		<img src="~/images/dashboard-image.svg" alt="Taskmaster dashboard"/>
		<div class="checklist">
			<h3>Manage Your Work</h3>
			<div class="checklist-group">
				<img src="~/images/bx-check-circle.svg" alt="checked box"/>
				<p>Powerful project management</p>
			</div>
			<div class="checklist-group">
				<img src="~/images/bx-check-circle.svg" alt="checked box" />
				<p>Transparent work management</p>
			</div>
			<div class="checklist-group">
				<img src="~/images/bx-check-circle.svg" alt="checked box" />
				<p>Manage work & focus on the most important tasks</p>
			</div>
			<div class="checklist-group">
				<img src="~/images/bx-check-circle.svg" alt="checked box" />
				<p>Track your progress with interactive charts</p>
			</div>
			<div class="checklist-group">
				<img src="~/images/bx-check-circle.svg" alt="checked box" />
				<p>Easiest way to track time spent on tasks</p>
			</div>

			<a class="btn-theme">Learn more <i class="fa-solid fa-arrow-right"></i></a>

		</div>

	</div>

</section>



<section>
	<div class="app-section">
	<div class="container">
		<img class="left-image" src="~/images/app-image.svg" alt="Phone app"/>

		<div>
			<h1>Download Our App for Any Devices:</h1>
			<div class="content">
				<p id="title">App Store</p>
				<img id="rating-star" src="~/images/rating.svg" alt="5-star rating"/>
				<h4 id="highlight">Editor's Choice</h4>
				<p id="rating-text">rating 4.7, 187k+ reviews</p>
					<a href="https://www.apple.com/se/app-store/"><img id="app-image" src="~/images/appstore.svg" alt="App store" /></a>
			</div>
				<div class="content">
					<p id="title">Google Play</p>
					<img id="rating-star" src="~/images/rating.svg" alt="5-star rating" />
					<h4 id="highlight">App of the Day</h4>
					<p id="rating-text">rating 4.8, 30k+ reviews</p>
					<a href="https://play.google.com/store/games?device=windows&pli=1"><img id="app-image" src="~/images/googleplay.svg" alt="Google play" /></a>
				</div>
		</div>

	</div>
</div>

</section>



<section class="tools">
	<div class="container">
	<h1>Integrate Top Work Tools</h1>
	<p class="title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>

	<div class="grid-tools">
			<div class="content">
				<img src="~/images/googleicon.svg" alt="Google Icon"/>
					<p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
			</div>
			<div class="content">
				<img src="~/images/cameraicon.svg" alt="Camera Icon" />
				<p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
			</div>
			<div class="content">
				<img src="~/images/Slack.svg" alt="Slack Icon" />
				<p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
			</div>
			<div class="content">
				<img src="~/images/emailicon.svg" alt="Email Icon" />
				<p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
			</div>
			<div class="content">
				<img src="~/images/taskicon.svg" alt="Task Icon" />
				<p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
			</div>
			<div class="content">
				<img src="~/images/monkeyicon.svg" alt="Monkey Icon" />
				<p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
			</div>
			<div class="content">
				<img src="~/images/dropboxicon.svg" alt="Dropbox Icon" />
				<p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
			</div>
			<div class="content">
				<img src="~/images/elephanticon.svg" alt="Elephant Icon" />
				<p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
			</div>

	</div>
	</div>
</section>


<section>
	<div class="newsletter">
	<div class="container">
		<div class="title">
		<h1>Don't want to Miss Anything?</h1>
		<img src="~/images/arrows.svg" alt="decorative arrows"/>
		</div>
			
		<form>
				<div class="newsletter-checkbox-group">
					<h4 id="title">Sign up for Newsletters</h4>
				<label>
					<input id="newsletter" type="checkbox" name="Daily Newsletter" />
					Daily Newsletter
				</label>
				<label>
						<input id="updates" type="checkbox" name="Advertising Updates" />
					Advertising Updates
				</label>
				<label>
						<input id="review" type="checkbox" name="Week in Review" />
					Week in Review
				</label>
				<label>
						<input id="updates" type="checkbox" name="Event Updates" />
					Event Updates
				</label>
				<label>
						<input id="startups" type="checkbox" name="Startups Weekly" />
					Startups Weekly
				</label>
				<label>
						<input id="podcasts" type="checkbox" name="Podcasts" />
					Podcasts
				</label>
				</div>
				<div class="email-button">
				<div class="input-with-icon">
					<i class="fa-regular fa-envelope"></i>
					<input type="email" placeholder="Your Email" />
				</div>
				<div class="subscribe-button">
				<button class="btn-theme">Subscribe*</button>
				</div>
				</div>

				<p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy</a> policy.</p>
		</form>

	</div>
	</div>
</section>